<!DOCTYPE html>
<html ng-app= "managerApp"
    <div ng-controller= "mortalityListCntrl">

    <body style="width:600px;margin-left:350px; border:solid">


        <h1>Mortality List</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Introduce LIMIT<input class="form-control" ng-model="limit"></th>
                    <th>Introduce OFFSET<input class="form-control" ng-model="offset"></th>
                    <th class="text-center"><button class="btn btn-success" ng-click="paginacion()">DATA</button></th>
                </tr>

                <tr>
                    <th>Introduce Country<input class="form-control" ng-model="country"></th>
                    <!--  <th>Introduce TO<input class="form-control" ng-model="to"></th>-->
                    <th class="text-center"><button class="btn btn-success" ng-click="busqueda(country)">SEARCH</button></th>
                    <th>Introduce Transport<input class="form-control" ng-model="transport"></th>
                    <!--  <th>Introduce TO<input class="form-control" ng-model="to"></th>-->
                    <th class="text-center"><button class="btn btn-success" ng-click="busquedaTransport(transport)">SEARCH</button></th>
                    <th>Introduce Suicide<input class="form-control" ng-model="suicide"></th>
                    <!--  <th>Introduce TO<input class="form-control" ng-model="to"></th>-->
                    <th class="text-center"><button class="btn btn-success" ng-click="busquedaSuicide(suicide)">SEARCH</button></th>
                    <th>Introduce Cancer<input class="form-control" ng-model="cancer"></th>
                    <!--  <th>Introduce TO<input class="form-control" ng-model="to"></th>-->
                    <th class="text-center"><button class="btn btn-success" ng-click="busquedaCancer(cancer)">SEARCH</button></th>
                    
                </tr>

            </thead>
        </table>


              <table class="table">
                  <thead>
                  <tr>
                      <th>Country</th>
                      <th>Year</th>
                      <th>Transport</th>
                      <th>Suicide</th>
                      <th>Cancer</th>
                     
                  </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td><input class ="form-control" ng-model="newStat.country"/></td>
                          <td><input class ="form-control" ng-model="newStat.year"/></td>
                          <td><input class ="form-control" ng-model="newStat.transport"/></td>
                          <td><input class ="form-control" ng-model="newStat.suicide"/></td>
                          <td><input class ="form-control" ng-model="newStat.cancer"/></td>
                          <td><button class="btn btn-primary"ng-click= "add(newStat)">Add</button></td>
                          <td><button class="btn btn-danger"ng-click= "deleteAll()">Delete All</button></td>

                      </tr>
                      <tr ng-repeat = "stat in mortality">
                          <td>{{stat.country}}</td>
                          <td>{{stat.year}}</td>
                          <td>{{stat.transport}}</td>
                          <td>{{stat.suicide}}</td>
                          <td>{{stat.cancer}}</td>
                          <td><button class="btn btn-danger"ng-click= "delete(stat.country)">Delete</button></td>
                          <td><a href="#!/mortality/edit/{{stat.country}}"><button class="btn btn-secondary">Edit</button></a></td>

                      </tr>
                      
                  </tbody>
                  
              </table>
              
              <tr>
                  <td><button id="createInitialData" class="btn btn-primary" ng-click= "create()">Create Initial Data</button></td>
                  <td><button class="btn btn-info" ng-click= "refresh()">Refresh Data</button></td>
                </tr>
                
             </tbody>

        </table>

       
        </tr>
        
       View <select ng-model="viewby" ng-change="setItemsPerPage(viewby)">
            <option>3</option>
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>30</option>
            </select> records at a time.
        <pre>The selected page no: {{currentPage}}</pre>
        
        <div   id= "pagination"  style="display:none;" disabled = true>
        
        <table>
        <td><button class="btn btn-info" ng-click="previousPage(currentPage-1)" ng-disabled = "currentPage==1">Prev</button></td>
        <td ng-repeat="page in pages" >
          <a><button class="btn btn-info" ng-click="newPage(page)">{{page}}</button></a>
        </td>
        <td><button class="btn btn-info" ng-click="nextPage(currentPage+1)" ng-disabled ="currentPage == pages.length">Next</button></td>
            </table>
     
        </div>
    </body>
</div>
</html>
